<h1>Welcome to my portfolio</h1>

<p>I am a founder, tech enthusiast and aspiring developer, who is constantly pursuing my passion to become a better computer programmer. I have always enjoyed problem solving, finding myself constantly amazed by what can be built with a laptop and a little imagination.</p>
<p>My introduction to code came in the form of a CS 106 class at Portland State
  University, and developer tab in Excel I never knew existed. I was so blown away
  by the fact that a few lines of code can make something, anything, happen.
  I once heard someone say, “Technology will either doom or save the human race,
  either way, that decision is being made by people with nothing more than time,
  and a computer.” To date, that just might be the most frightening and enchanting
  thing I've ever heard.<p>

<h3>Skills</h3>

<ul>
  <% @skills.each do |skill| %>
    <li><%= link_to skill.name, skill_path(skill) %></li>
  <% end %>
</ul>

<p><%= link_to "Add a skill", new_skill_path %></p>
